<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.slicedbreadenterprises.cf.pg"
        version   = "1.0.0">

    <name>CurrencyFair</name>

<icon src="icon.png" />

    <description>
        Currency Exchange via CurrencyFair
    </description>

    <author href="http://www.slicedbreadenterprises.com" email="ios@slicedbreadenterprises.com">
        Sliced Bread Enterprises
    </author>

    <preference name="phonegap-version" value="3.6.3" /> 

    <gap:plugin name="org.apache.cordova.core.inappbrowser" />

<code>
<access origin="www.bbc.co.uk" />
</code>

<feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
</feature>

</widget>
